input{
    padding:5px;
    border-radius:6px;
    border:1pt solid grey;
    font-size: 1rem;
}

button{
    background-color:lightgreen;
    padding:5px 10px 5px 10px;
    margin-left:5px;
    border:1pt solid black;
    border-radius:5px;
    cursor:pointer;
}

label{
    font-size:1.3rem;
    margin-right:5px;
}
